@import '../asset/styles/variable.scss';

.checkout-page {
    padding: 2rem;
    background-color: $background-color;
    h1 {
      color: $secondary-color;
    }
    .checkout-table {
        table {
            width: '100%';
            border-collapse: 'collapse';
        }
        td, th {
            border: '1px solid #ddd';
            padding: '8px'
        }
    }
}
  