@import '../asset/styles/variable.scss';

.coffee-page {
    padding: 2rem;
    h1 {
      color: $secondary-color;
    }
    .input-container  {
        margin-top: 10px;
        width: fit-content;
    }
}
  