@import '../asset/styles/variable.scss';

.menu-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px; 
  padding: 16px; 
  background-color: $background-color;
  width: 100%;
  box-sizing: border-box;

  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 16px;
    width: 100%;
    max-width: 1200px; 
  }
  
  .coffee-card {
    background-color: $white-color;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    text-align: center;
    box-sizing: border-box;
    max-width: 300px; 
    width: 100%; 
  }
  
  .options, .create-own {
    padding: 16px;
    color: $white-color;
    border-radius: 8px;
  }
}



